
<div class="container  m-4">
  <h3>
  <strong>Task:  </strong>
  <%= @task.name %>
</h3>
<br>
<h5>
  <strong>Description:</strong>
  <%= @task.description %>
</h5>
<br>
<h5>
  <strong>Status:</strong>
  <%= @task.status %>
</h5>
<br>

<h5>
  <strong>h5roject:</strong>
  <%= @task.project_id %>
</h5>
</div>

